.mycontainer{
    max-width: 650px;
    margin: 0 auto;
}
.unit{
    margin: 20px 150px
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: 500;

}

@media screen and (min-width:1px) and (max-width:425px) {
    .unit{
        margin: 0 0;
    }
}